In [32]:
import pandas as pd
from sqlalchemy import create_engine, func

In [33]:
rates_csv = r"/Users/matthewguy422/Documents/Healthcare-Value-Explorer-/PUF CSV/rate-puf.zip"

In [34]:
# Read csv into panda dataframe
rates_df = pd.read_csv(rates_csv)
print(rates_df.head())

   BusinessYear StateCode  IssuerId SourceName           ImportDate  \
0          2025        AK     21989       HIOS  2024-08-29 01:02:15
1          2025        AK     21989       HIOS  2024-08-29 01:02:15
2          2025        AK     21989       HIOS  2024-08-29 01:02:15
3          2025        AK     21989       HIOS  2024-08-29 01:02:15
4          2025        AK     21989       HIOS  2024-08-29 01:02:15

  RateEffectiveDate RateExpirationDate          PlanId   RatingAreaId Tobacco  \
0        2025-10-01         2025-12-31  21989AK0130001  Rating Area 1     NaN
1        2025-01-01         2025-03-31  21989AK0130001  Rating Area 1     NaN
2        2025-04-01         2025-06-30  21989AK0130001  Rating Area 1     NaN
3        2025-07-01         2025-09-30  21989AK0130001  Rating Area 1     NaN
4        2025-07-01         2025-09-30  21989AK0130001  Rating Area 2     NaN

             Age  IndividualRate  IndividualTobaccoRate  Couple  \
0  Family Option           71.83                    NaN  149.41
1  Family Option           69.24                    NaN  144.02
2  Family Option           70.10                    NaN  145.81
3  Family Option           70.97                    NaN  147.62
4  Family Option           67.42                    NaN  140.23

   PrimarySubscriberAndOneDependent  PrimarySubscriberAndTwoDependents  \
0                            172.40                             172.40
1                            166.17                             166.17
2                            168.25                             168.25
3                            170.33                             170.33
4                            161.81                             161.81

   PrimarySubscriberAndThreeOrMoreDependents  CoupleAndOneDependent  \
0                                     172.40                 257.17
1                                     166.17                 247.87
2                                     168.25                 250.97
3                                     170.33                 254.07
4                                     161.81                 241.36

   CoupleAndTwoDependents  CoupleAndThreeOrMoreDependents
0                  257.17                          257.17
1                  247.87                          247.87
2                  250.97                          250.97
3                  254.07                          254.07
4                  241.36                          241.36

In [35]:
# Create dataframe with the necessary fields and add RateID field
rates_df["PlanId"] = rates_df["PlanId"].astype(str) + "-00"  # ← ADD THIS LINE
clean_rates_df = pd.DataFrame({
    "StateCode": rates_df["StateCode"],
    "IssuerID": rates_df["IssuerId"],
    "PlanID": rates_df["PlanId"],
    "IndividualRate": rates_df["IndividualRate"],
    "RateID": range(1, len(rates_df) + 1)
})
clean_rates_df.head()

  StateCode  IssuerID             PlanID  IndividualRate  RateID
0        AK     21989  21989AK0130001-00           71.83       1
1        AK     21989  21989AK0130001-00           69.24       2
2        AK     21989  21989AK0130001-00           70.10       3
3        AK     21989  21989AK0130001-00           70.97       4
4        AK     21989  21989AK0130001-00           67.42       5

In [36]:
record_count = len(clean_rates_df)
print(f"Record count: {record_count}")

Record count: 2418441

In [37]:
# Conntect to PostgreSQL database (need psycopg2-binary - pip install psycopg2-binary)
engine = create_engine("postgresql://postgres:postgres@localhost:5432/healthcare_value_db")  # ← fix DB name
valid_plans = pd.read_sql('SELECT "PlanID" FROM "PlanAttributes";', engine)  # ← ADD THIS LINE

In [38]:
# Append dataframe to Rates table in HealthCareValues_DB
clean_rates_df = clean_rates_df[clean_rates_df["PlanID"].isin(valid_plans["PlanID"])]  # ← ADD THIS LINE
clean_rates_df.to_sql("Rates", engine, if_exists="append", index=False)

264