In [14]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
service_area_csv = r"/Users/sanjaromanishan/Desktop/Homework/Project3_group4/Healthcare-Value-Explorer-/PUF CSV/service-area-puf.csv"

In [16]:
# Read csv into panda dataframe
service_area_df = pd.read_csv(service_area_csv)
print(service_area_df.head())

   BusinessYear StateCode  IssuerId SourceName           ImportDate  \
0          2025        AK     21989       HIOS  2024-08-29 01:02:15
1          2025        AK     21989       HIOS  2024-08-29 01:02:15
2          2025        AK     21989       HIOS  2024-08-29 01:02:15
3          2025        AK     21989       HIOS  2024-08-29 01:02:15
4          2025        AK     21989       HIOS  2024-08-29 01:02:15

  ServiceAreaId              ServiceAreaName CoverEntireState  County  \
0        AKS001               Alaska Premier              Yes     NaN
1        AKS002                   Alaska PPO               No  2020.0
2        AKS002                   Alaska PPO               No  2090.0
3        AKS002                   Alaska PPO               No  2170.0
4        AKS003  Alaska Premier - Individual              Yes     NaN

  PartialCounty ZipCodes PartialCountyJustification      MarketCoverage  \
0           NaN      NaN                        NaN  SHOP (Small Group)
1            No      NaN                        NaN  SHOP (Small Group)
2            No      NaN                        NaN  SHOP (Small Group)
3            No      NaN                        NaN  SHOP (Small Group)
4           NaN      NaN                        NaN          Individual

  DentalOnlyPlan
0            Yes
1            Yes
2            Yes
3            Yes
4            Yes

In [29]:
unique_service_area = service_area_df['ServiceAreaId'].dropna().unique()
unique_service_area

array(['AKS001', 'AKS002', 'AKS003', 'AKS004', 'ALS001', 'ALS002',
       'ALS004', 'ALS003', 'ALS011', 'AZS001', 'AZS003', 'AZS011',
       'AZS002', 'AZS004', 'AZS005', 'AZS006', 'AZS007', 'AZS008',
       'AZS009', 'AZS010', 'AZS012', 'AZS013', 'FLS001', 'FLS002',
       'FLS006', 'FLS003', 'FLS004', 'FLS005', 'FLS007', 'FLS011',
       'INS001', 'INS019', 'INS021', 'INS002', 'INS011', 'LAS001',
       'LAS007', 'LAS005', 'LAS008', 'LAS010', 'LAS006', 'LAS012',
       'LAS013', 'LAS009', 'LAS022', 'LAS011', 'LAS002', 'LAS003',
       'MOS001', 'MOS002', 'MOS009', 'MOS003', 'MOS004', 'MOS007',
       'MOS008', 'MOS011', 'MSS001', 'MSS011', 'NCS079', 'NCS055',
       'NCS040', 'NCS078', 'NCS074', 'NCS075', 'NCS076', 'NCS077',
       'NCS065', 'NCS066', 'NCS067', 'NCS071', 'NCS072', 'NCS080',
       'NCS001', 'NCS011', 'NCS002', 'NDS001', 'NDS002', 'NDS003',
       'NDS004', 'NDS005', 'NDS006', 'OKS001', 'OKS006', 'OKS007',
       'OKS008', 'OKS011', 'OKS002', 'OKS018', 'OKS028', 'OKS038',
       'OKS048', 'OKS058', 'OKS019', 'OKS029', 'OKS039', 'OKS049',
       'OKS059', 'OKS032', 'OKS042', 'OKS052', 'SCS001', 'SCS002',
       'SCS003', 'SCS004', 'SCS005', 'SCS006', 'SCS007', 'SCS008',
       'SCS009', 'SCS011', 'TNS001', 'TNS002', 'TNS003', 'TNS004',
       'TNS005', 'TNS006', 'TNS007', 'TNS008', 'TNS011', 'TNS016',
       'TNS017', 'TXS001', 'TXS002', 'TXS003', 'TXS004', 'TXS005',
       'TXS006', 'TXS007', 'TXS008', 'TXS019', 'TXS029', 'TXS039',
       'TXS049', 'TXS059', 'TXS069', 'TXS079', 'TXS089', 'TXS099',
       'TXS109', 'TXS119', 'TXS129', 'TXS139', 'TXS149', 'TXS159',
       'TXS169', 'TXS179', 'TXS189', 'TXS199', 'TXS209', 'TXS219',
       'TXS229', 'TXS239', 'TXS249', 'TXS259', 'TXS269', 'TXS279',
       'TXS032', 'TXS052', 'TXS082', 'TXS092', 'TXS102', 'TXS152',
       'TXS182', 'TXS252', 'TXS232', 'TXS072', 'TXS042', 'TXS011',
       'TXS012', 'TXS013', 'TXS009', 'TXS010', 'WIS001', 'WIS002',
       'WIS003', 'WIS004', 'WIS005', 'WIS006', 'WIS007', 'WIS008',
       'WIS009', 'WIS010', 'WIS012', 'WIS013', 'WIS014', 'WIS015',
       'WIS016', 'WIS017', 'WIS011', 'WYS001', 'WYS002', 'WYS011',
       'ARS001', 'ARS002', 'DES001', 'DES002', 'HIS001', 'HIS002',
       'IAS001', 'IAS002', 'IAS011', 'IAS003', 'IAS015', 'IAS016',
       'IAS005', 'ILS001', 'ILS003', 'ILS002', 'ILS007', 'ILS019',
       'ILS029', 'ILS039', 'ILS049', 'ILS059', 'ILS069', 'ILS079',
       'ILS089', 'ILS099', 'ILS109', 'ILS119', 'ILS129', 'ILS139',
       'ILS013', 'ILS018', 'ILS028', 'ILS038', 'ILS048', 'ILS058',
       'ILS078', 'ILS022', 'ILS033', 'ILS043', 'ILS011', 'ILS004',
       'KSS001', 'KSS004', 'KSS011', 'MIS001', 'MIS006', 'MIS003',
       'MIS004', 'MIS008', 'MIS009', 'MIS005', 'MIS007', 'MIS002',
       'MIS011', 'MIS012', 'MIS010', 'MTS001', 'MTS003', 'MTS004',
       'MTS018', 'MTS038', 'MTS028', 'MTS019', 'MTS029', 'MTS039',
       'MTS049', 'MTS002', 'NES001', 'NES002', 'NES004', 'NES007',
       'NES008', 'NES003', 'NES005', 'NES006', 'NES011', 'NHS001',
       'NHS002', 'NHS004', 'OHS001', 'OHS002', 'OHS003', 'OHS004',
       'OHS011', 'ORS002', 'ORS004', 'ORS001', 'ORS003', 'SDS003',
       'SDS004', 'SDS001', 'SDS002', 'UTS001', 'UTS002', 'UTS003',
       'UTS011', 'UTS012', 'WVS001'], dtype=object)

In [30]:
# Create dataframe with the unique service area and assign an ID
clean_area_df = pd.DataFrame({
    "ServiceAreaID":service_area_df["ServiceAreaId"], 
    "ServiceArea": service_area_df["ServiceAreaName"],
    "StateCode": service_area_df["StateCode"],
    "IssuerId": service_area_df["IssuerId"],
    "CoverEntireState": service_area_df["CoverEntireState"],
    "County": service_area_df["County"], 
    "ZipCodes": service_area_df["ZipCodes"],
    "MarketCoverage": service_area_df["MarketCoverage"],
    "DentalOnly": service_area_df["DentalOnlyPlan"]
})

clean_area_df.head()

,ServiceAreaID,ServiceArea,StateCode,IssuerId,CoverEntireState,County,ZipCodes,MarketCoverage,DentalOnly
0,AKS001,Alaska Premier,AK,21989,Yes,NaN,NaN,SHOP (Small Group),Yes
1,AKS002,Alaska PPO,AK,21989,No,2020.0,NaN,SHOP (Small Group),Yes
2,AKS002,Alaska PPO,AK,21989,No,2090.0,NaN,SHOP (Small Group),Yes
3,AKS002,Alaska PPO,AK,21989,No,2170.0,NaN,SHOP (Small Group),Yes
4,AKS003,Alaska Premier - Individual,AK,21989,Yes,NaN,NaN,Individual,Yes

In [32]:
record_count = len(clean_area_df)
print(f"Record count: {record_count}")

Record count: 11761

In [33]:
record_count = len(unique_service_area)
print(f"Record count: {record_count}")

Record count: 291

In [34]:
# Conntect to PostgreSQL database (need psycopg2-binary - pip install psycopg2-binary)
engine = create_engine("postgresql://postgres:postgres@localhost:5432/healthcare_value_db")

In [35]:
# Append dataframe to Rates table in HealthCareValues_DB
unique_service_area.to_sql("ServiceArea", engine, if_exists="append", index=False)

AttributeError: 'numpy.ndarray' object has no attribute 'to_sql'