In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
# Create path to CSV file

service_area_csv = r"/Users/sanjaromanishan/Desktop/Homework/Project3_group4/Healthcare-Value-Explorer-/PUF CSV/service-area-puf.csv"

In [14]:
# Read CSV into a pandas DataFrame
service_area_df = pd.read_csv(service_area_csv)
print(service_area_df.head())

   BusinessYear StateCode  IssuerId SourceName           ImportDate  \
0          2025        AK     21989       HIOS  2024-08-29 01:02:15
1          2025        AK     21989       HIOS  2024-08-29 01:02:15
2          2025        AK     21989       HIOS  2024-08-29 01:02:15
3          2025        AK     21989       HIOS  2024-08-29 01:02:15
4          2025        AK     21989       HIOS  2024-08-29 01:02:15

  ServiceAreaId              ServiceAreaName CoverEntireState  County  \
0        AKS001               Alaska Premier              Yes     NaN
1        AKS002                   Alaska PPO               No  2020.0
2        AKS002                   Alaska PPO               No  2090.0
3        AKS002                   Alaska PPO               No  2170.0
4        AKS003  Alaska Premier - Individual              Yes     NaN

  PartialCounty ZipCodes PartialCountyJustification      MarketCoverage  \
0           NaN      NaN                        NaN  SHOP (Small Group)
1            No      NaN                        NaN  SHOP (Small Group)
2            No      NaN                        NaN  SHOP (Small Group)
3            No      NaN                        NaN  SHOP (Small Group)
4           NaN      NaN                        NaN          Individual

  DentalOnlyPlan
0            Yes
1            Yes
2            Yes
3            Yes
4            Yes

In [15]:
# Drop NaNs and get unique ServiceAreaId values
unique_service_area = service_area_df['ServiceAreaId'].dropna().unique()

In [16]:
# Create cleaned DataFrame
clean_area_df = pd.DataFrame({
    "ServiceAreaID": service_area_df["ServiceAreaId"],
    "ServiceArea": service_area_df["ServiceAreaName"],
    "StateCode": service_area_df["StateCode"],
    "IssuerId": service_area_df["IssuerId"],
    "CoverEntireState": service_area_df["CoverEntireState"],
    "County": service_area_df["County"],
    "ZipCodes": service_area_df["ZipCodes"],
    "MarketCoverage": service_area_df["MarketCoverage"],
    "DentalOnly": service_area_df["DentalOnlyPlan"]
})

clean_area_df.head()

,ServiceAreaID,ServiceArea,StateCode,IssuerId,CoverEntireState,County,ZipCodes,MarketCoverage,DentalOnly
0,AKS001,Alaska Premier,AK,21989,Yes,NaN,NaN,SHOP (Small Group),Yes
1,AKS002,Alaska PPO,AK,21989,No,2020.0,NaN,SHOP (Small Group),Yes
2,AKS002,Alaska PPO,AK,21989,No,2090.0,NaN,SHOP (Small Group),Yes
3,AKS002,Alaska PPO,AK,21989,No,2170.0,NaN,SHOP (Small Group),Yes
4,AKS003,Alaska Premier - Individual,AK,21989,Yes,NaN,NaN,Individual,Yes

In [17]:
# Print record counts
print(f"Cleaned DataFrame record count: {len(clean_area_df)}")
print(f"Unique Service Area IDs: {len(unique_service_area)}")

Cleaned DataFrame record count: 11761
Unique Service Area IDs: 291

In [18]:
# Connect to PostgreSQL database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/healthcare_value_db")

In [21]:
# Save full cleaned DataFrame to database
clean_area_df.to_sql("ServiceArea", con=engine, if_exists="append", index=False)
print("Cleaned data written to 'ServiceArea' table.")

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_ServiceArea"
DETAIL:  Key ("ServiceAreaID")=(AKS002) already exists.

[SQL: INSERT INTO "ServiceArea" ("ServiceAreaID", "ServiceArea", "StateCode", "IssuerId", "CoverEntireState", "County", "ZipCodes", "MarketCoverage", "DentalOnly") VALUES (%(ServiceAreaID__0)s, %(ServiceArea__0)s, %(StateCode__0)s, %(IssuerId__0)s, %(Cover ... 194823 characters truncated ... ntireState__999)s, %(County__999)s, %(ZipCodes__999)s, %(MarketCoverage__999)s, %(DentalOnly__999)s)]
[parameters: {'ServiceAreaID__0': 'AKS001', 'County__0': None, 'StateCode__0': 'AK', 'MarketCoverage__0': 'SHOP (Small Group)', 'IssuerId__0': 21989, 'CoverEntireState__0': 'Yes', 'ServiceArea__0': 'Alaska Premier', 'DentalOnly__0': 'Yes', 'ZipCodes__0': None, 'ServiceAreaID__1': 'AKS002', 'County__1': 2020.0, 'StateCode__1': 'AK', 'MarketCoverage__1': 'SHOP (Small Group)', 'IssuerId__1': 21989, 'CoverEntireState__1': 'No', 'ServiceArea__1': 'Alaska PPO', 'DentalOnly__1': 'Yes', 'ZipCodes__1': None, 'ServiceAreaID__2': 'AKS002', 'County__2': 2090.0, 'StateCode__2': 'AK', 'MarketCoverage__2': 'SHOP (Small Group)', 'IssuerId__2': 21989, 'CoverEntireState__2': 'No', 'ServiceArea__2': 'Alaska PPO', 'DentalOnly__2': 'Yes', 'ZipCodes__2': None, 'ServiceAreaID__3': 'AKS002', 'County__3': 2170.0, 'StateCode__3': 'AK', 'MarketCoverage__3': 'SHOP (Small Group)', 'IssuerId__3': 21989, 'CoverEntireState__3': 'No', 'ServiceArea__3': 'Alaska PPO', 'DentalOnly__3': 'Yes', 'ZipCodes__3': None, 'ServiceAreaID__4': 'AKS003', 'County__4': None, 'StateCode__4': 'AK', 'MarketCoverage__4': 'Individual', 'IssuerId__4': 21989, 'CoverEntireState__4': 'Yes', 'ServiceArea__4': 'Alaska Premier - Individual', 'DentalOnly__4': 'Yes', 'ZipCodes__4': None, 'ServiceAreaID__5': 'AKS004', 'County__5': 2020.0, 'StateCode__5': 'AK', 'MarketCoverage__5': 'Individual', 'IssuerId__5': 21989 ... 8900 parameters truncated ... 'IssuerId__994': 54172, 'CoverEntireState__994': 'No', 'ServiceArea__994': 'Silver 12', 'DentalOnly__994': 'No', 'ZipCodes__994': None, 'ServiceAreaID__995': 'FLS003', 'County__995': 12049.0, 'StateCode__995': 'FL', 'MarketCoverage__995': 'Individual', 'IssuerId__995': 54172, 'CoverEntireState__995': 'No', 'ServiceArea__995': 'Silver 12', 'DentalOnly__995': 'No', 'ZipCodes__995': None, 'ServiceAreaID__996': 'FLS003', 'County__996': 12051.0, 'StateCode__996': 'FL', 'MarketCoverage__996': 'Individual', 'IssuerId__996': 54172, 'CoverEntireState__996': 'No', 'ServiceArea__996': 'Silver 12', 'DentalOnly__996': 'No', 'ZipCodes__996': None, 'ServiceAreaID__997': 'FLS003', 'County__997': 12007.0, 'StateCode__997': 'FL', 'MarketCoverage__997': 'Individual', 'IssuerId__997': 54172, 'CoverEntireState__997': 'No', 'ServiceArea__997': 'Silver 12', 'DentalOnly__997': 'No', 'ZipCodes__997': None, 'ServiceAreaID__998': 'FLS001', 'County__998': 12009.0, 'StateCode__998': 'FL', 'MarketCoverage__998': 'Individual', 'IssuerId__998': 56503, 'CoverEntireState__998': 'No', 'ServiceArea__998': 'FHCP IND 5 Counties', 'DentalOnly__998': 'No', 'ZipCodes__998': None, 'ServiceAreaID__999': 'FLS001', 'County__999': 12035.0, 'StateCode__999': 'FL', 'MarketCoverage__999': 'Individual', 'IssuerId__999': 56503, 'CoverEntireState__999': 'No', 'ServiceArea__999': 'FHCP IND 5 Counties', 'DentalOnly__999': 'No', 'ZipCodes__999': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [20]:
# Save unique ServiceAreaId values into a separate table (optional)
unique_service_area_df = pd.DataFrame(unique_service_area, columns=["ServiceAreaID"])
unique_service_area_df.to_sql("UniqueServiceAreas", con=engine, if_exists="replace", index=False)
print("Unique ServiceAreaIDs written to 'UniqueServiceAreas' table.")

Unique ServiceAreaIDs written to 'UniqueServiceAreas' table.