In [1]:
import pandas as pd
from sqlalchemy import create_engine, func

In [2]:
plan_csv = r"C:\Users\rmwc_\OneDrive\Documents\Bootcamp\Project3\plan-attributes-puf.csv"

In [3]:
# Read csv into panda dataframe
plan_df = pd.read_csv(plan_csv)
print(plan_df.head())

   BusinessYear StateCode  IssuerId IssuerMarketPlaceMarketingName SourceName  \
0          2025        AK     21989         Delta Dental of Alaska       HIOS
1          2025        AK     21989         Delta Dental of Alaska       HIOS
2          2025        AK     21989         Delta Dental of Alaska       HIOS
3          2025        AK     21989         Delta Dental of Alaska       HIOS
4          2025        AK     21989         Delta Dental of Alaska       HIOS

            ImportDate      MarketCoverage DentalOnlyPlan StandardComponentId  \
0  2024-08-29 01:02:15          Individual            Yes      21989AK0030001
1  2024-08-29 01:02:15          Individual            Yes      21989AK0030001
2  2024-08-29 01:02:15  SHOP (Small Group)            Yes      21989AK0130004
3  2024-08-29 01:02:15  SHOP (Small Group)            Yes      21989AK0080001
4  2024-08-29 01:02:15          Individual            Yes      21989AK0050001

                                PlanMarketingName  ...  \
0                       Delta Dental Premier Plan  ...
1                       Delta Dental Premier Plan  ...
2  Delta Dental Premier, +1000, 100/80/50, 50, PF  ...
3        Delta Dental Premier 1000, 100/80/50, 50  ...
4                      Delta Dental PPO 1000 Plan  ...

  TEHBDedOutOfNetFamilyPerPerson TEHBDedOutOfNetFamilyPerGroup  \
0                            NaN                           NaN
1                            NaN                           NaN
2                            NaN                           NaN
3                            NaN                           NaN
4                            NaN                           NaN

  TEHBDedCombInnOonIndividual TEHBDedCombInnOonFamilyPerPerson  \
0                         NaN                              NaN
1                         NaN                              NaN
2                         NaN                              NaN
3                         NaN                              NaN
4                         NaN                              NaN

  TEHBDedCombInnOonFamilyPerGroup IsHSAEligible HSAOrHRAEmployerContribution  \
0                             NaN           NaN                          NaN
1                             NaN           NaN                          NaN
2                             NaN           NaN                          NaN
3                             NaN           NaN                          NaN
4                             NaN           NaN                          NaN

  HSAOrHRAEmployerContributionAmount URLForSummaryofBenefitsCoverage  \
0                                NaN                             NaN
1                                NaN                             NaN
2                                NaN                             NaN
3                                NaN                             NaN
4                                NaN                             NaN

                                        PlanBrochure
0  https://www.deltadentalak.com/-/media/deltaden...
1  https://www.deltadentalak.com/-/media/deltaden...
2                                                NaN
3                                                NaN
4  https://www.deltadentalak.com/-/media/deltaden...

[5 rows x 151 columns]

C:\Users\rmwc_\AppData\Local\Temp\ipykernel_114460\4102378068.py:2: DtypeWarning: Columns (64,80,81,82,86,87,88,89,90,91,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  plan_df = pd.read_csv(plan_csv)

In [4]:
# Extract unique rows based on IssuerId and IssuerMarketPlaceMarketingName
issuer_df = plan_df[['IssuerId', 'IssuerMarketPlaceMarketingName']].dropna()

issuer_df.head()

   IssuerId IssuerMarketPlaceMarketingName
0     21989         Delta Dental of Alaska
1     21989         Delta Dental of Alaska
2     21989         Delta Dental of Alaska
3     21989         Delta Dental of Alaska
4     21989         Delta Dental of Alaska

In [6]:
# Drop duplicate IssuerId-IssuerMarketPlaceMarketingName pairs
unique_issuer_df = issuer_df.drop_duplicates()

unique_issuer_df.head()

     IssuerId            IssuerMarketPlaceMarketingName
0       21989                    Delta Dental of Alaska
29      38344  Premera Blue Cross Blue Shield of Alaska
59      73836                    Moda Health Plan, Inc.
93      74819                                 BEST Life
101     12538                                 BEST Life

In [7]:
# Check number of unique Issuer entries
unique_issuer_count = len(unique_issuer_df)
print(f"Number of unique Issuers: {unique_issuer_count}")

Number of unique Issuers: 405

In [8]:
# Conntect to PostgreSQL database (need psycopg2-binary - pip install psycopg2-binary)
engine = create_engine("postgresql://postgres:postgres@localhost:5432/HealthCareValue_DB")

In [ ]:
# Append dataframe to Rates table in HealthCareValues_DB
unique_issuer_df.to_sql("Issuer", engine, if_exists="append", index=False)