In [16]:
import pandas as pd
from sqlalchemy import create_engine, func

In [ ]:
plan_csv = r"C:\Users\rmwc_\OneDrive\Documents\Bootcamp\Project3\plan-attributes-puf.csv"

In [ ]:
# Read csv into panda dataframe
plan_df = pd.read_csv(plan_csv)
print(plan_df.head())

C:\Users\rmwc_\AppData\Local\Temp\ipykernel_120728\496966492.py:2: DtypeWarning: Columns (9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  benefits_df = pd.read_csv(benefits_csv)

   BusinessYear StateCode  IssuerId SourceName           ImportDate  \
0          2025        AK     21989       HIOS  2024-08-29 01:02:15
1          2025        AK     21989       HIOS  2024-08-29 01:02:15
2          2025        AK     21989       HIOS  2024-08-29 01:02:15
3          2025        AK     21989       HIOS  2024-08-29 01:02:15
4          2025        AK     21989       HIOS  2024-08-29 01:02:15

  StandardComponentId             PlanId                      BenefitName  \
0      21989AK0030001  21989AK0030001-00  Routine Dental Services (Adult)
1      21989AK0030001  21989AK0030001-00     Dental Check-Up for Children
2      21989AK0030001  21989AK0030001-00        Basic Dental Care - Child
3      21989AK0030001  21989AK0030001-00              Orthodontia - Child
4      21989AK0030001  21989AK0030001-00        Major Dental Care - Child

    CopayInnTier1 CopayInnTier2  ... IsEHB IsCovered QuantLimitOnSvc LimitQty  \
0  Not Applicable           NaN  ...   NaN   Covered             Yes   1100.0
1  Not Applicable           NaN  ...   Yes   Covered             NaN      NaN
2  Not Applicable           NaN  ...   Yes   Covered             NaN      NaN
3  Not Applicable           NaN  ...   Yes   Covered             NaN      NaN
4  Not Applicable           NaN  ...   Yes   Covered             NaN      NaN

          LimitUnit Exclusions                   Explanation  \
0  Dollars per Year        NaN   See policy for other limits
1               NaN        NaN         See policy for limits
2               NaN        NaN         See policy for limits
3               NaN        NaN  For medically necessary only
4               NaN        NaN         See policy for limits

             EHBVarReason IsExclFromInnMOOP IsExclFromOonMOOP
0                 Not EHB               Yes               Yes
1  Additional EHB Benefit                No                No
2  Additional EHB Benefit                No                No
3  Additional EHB Benefit                No                No
4  Additional EHB Benefit                No                No

[5 rows x 24 columns]

In [19]:
# Get unique benefit names
unique_benefits = benefits_df['BenefitName'].dropna().unique()
unique_benefit_count = len(unique_benefits)
print(f"Number of unique Benefits: {unique_benefit_count}")

Number of unique Benefits: 266

In [20]:
# Create dataframe with the unique Benefit Names and assign an ID
clean_benefits_df = pd.DataFrame({
    "BenefitsName": unique_benefits,
    "BenefitsID": range(1, len(unique_benefits) + 1)
})
clean_benefits_df.head()

                      BenefitsName  BenefitsID
0  Routine Dental Services (Adult)           1
1     Dental Check-Up for Children           2
2        Basic Dental Care - Child           3
3              Orthodontia - Child           4
4        Major Dental Care - Child           5

In [21]:
# Conntect to PostgreSQL database (need psycopg2-binary - pip install psycopg2-binary)
engine = create_engine("postgresql://postgres:postgres@localhost:5432/HealthCareValue_DB")

In [ ]:
# Append dataframe to Rates table in HealthCareValues_DB
clean_benefits_df.to_sql("Benefits", engine, if_exists="append", index=False)

In [22]:
benefits_cost_sharing_df = pd.DataFrame({
    "BCS_ID": None, # will calculate later as PlanId-BenefitsId
    "StateCode": benefits_df["StateCode"],
    "IssuerID": benefits_df["IssuerId"],
    "StandardComponentId": benefits_df["StandardComponentId"],
    "PlanID": benefits_df["PlanId"],
    "BenefitsName": benefits_df["BenefitName"],
    "Exclusion": benefits_df["Exclusions"]
})

benefits_cost_sharing_df.head()

,BCS_ID,StateCode,IssuerID,StandardComponentId,PlanID,BenefitsName,Exclusion
0,None,AK,21989,21989AK0030001,21989AK0030001-00,Routine Dental Services (Adult),NaN
1,None,AK,21989,21989AK0030001,21989AK0030001-00,Dental Check-Up for Children,NaN
2,None,AK,21989,21989AK0030001,21989AK0030001-00,Basic Dental Care - Child,NaN
3,None,AK,21989,21989AK0030001,21989AK0030001-00,Orthodontia - Child,NaN
4,None,AK,21989,21989AK0030001,21989AK0030001-00,Major Dental Care - Child,NaN

In [23]:
# Strip extra spaces from BenefitNames columns for cleaner match
benefits_cost_sharing_df["BenefitsName"] = benefits_cost_sharing_df["BenefitsName"].str.strip()
clean_benefits_df["BenefitsName"] = clean_benefits_df["BenefitsName"].str.strip()

# Join Benefits to BenefitCostSharing
benefits_cost_sharing_df = benefits_cost_sharing_df.merge(
    clean_benefits_df,
    on="BenefitsName",
    how="left"
)

In [24]:
# Print column names in the merged Dataframe
print(benefits_cost_sharing_df.columns.tolist())

['BCS_ID', 'StateCode', 'IssuerID', 'StandardComponentId', 'PlanID', 'BenefitsName', 'Exclusion', 'BenefitsID']

In [25]:
# Check that BenefitsID is populated in the BenefitsCostSharing dataframe
print(benefits_cost_sharing_df[['BenefitsName', 'BenefitsID']].head())

                      BenefitsName  BenefitsID
0  Routine Dental Services (Adult)           1
1     Dental Check-Up for Children           2
2        Basic Dental Care - Child           3
3              Orthodontia - Child           4
4        Major Dental Care - Child           5

In [26]:
# Calculate Benefit ID in BenefitsCostSharing table
benefits_cost_sharing_df["BCS_ID"] = (
    benefits_cost_sharing_df["PlanID"].astype(str) + "-" +
    benefits_cost_sharing_df["BenefitsID"].astype(int).astype(str).str.zfill(3)
)

benefits_cost_sharing_df.head()

,BCS_ID,StateCode,IssuerID,StandardComponentId,PlanID,BenefitsName,Exclusion,BenefitsID
0,21989AK0030001-00-001,AK,21989,21989AK0030001,21989AK0030001-00,Routine Dental Services (Adult),NaN,1
1,21989AK0030001-00-002,AK,21989,21989AK0030001,21989AK0030001-00,Dental Check-Up for Children,NaN,2
2,21989AK0030001-00-003,AK,21989,21989AK0030001,21989AK0030001-00,Basic Dental Care - Child,NaN,3
3,21989AK0030001-00-004,AK,21989,21989AK0030001,21989AK0030001-00,Orthodontia - Child,NaN,4
4,21989AK0030001-00-005,AK,21989,21989AK0030001,21989AK0030001-00,Major Dental Care - Child,NaN,5

In [27]:
# Drop the BenefitsName column
benefits_cost_sharing_df.drop(columns=["BenefitsName"], inplace=True)

In [28]:
# Count number of records
benefits_cost_sharing_count = len(benefits_cost_sharing_df)

print(f'The number of records in the BenefitsCostSharing table: {benefits_cost_sharing_count}')

The number of records in the BenefitsCostSharing table: 1647036

In [32]:
# Clean the 'Exclusion' column
benefits_cost_sharing_df["Exclusion"] = benefits_cost_sharing_df["Exclusion"].fillna("")

# Insert the cleaned DataFrame into the database
benefits_cost_sharing_df.to_sql("BenefitsCostSharing", engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "BenefitsCostSharing" violates foreign key constraint "fk_BenefitsCostSharing_PlanID"
DETAIL:  Key (PlanID)=(21989AK0030001-00) is not present in table "PlanAttributes".

[SQL: INSERT INTO "BenefitsCostSharing" ("BCS_ID", "StateCode", "IssuerID", "StandardComponentId", "PlanID", "Exclusion", "BenefitsID") VALUES (%(BCS_ID__0)s, %(StateCode__0)s, %(IssuerID__0)s, %(StandardComponentId__0)s, %(PlanID__0)s, %(Exclusion__0)s, % ... 145015 characters truncated ... erID__999)s, %(StandardComponentId__999)s, %(PlanID__999)s, %(Exclusion__999)s, %(BenefitsID__999)s)]
[parameters: {'BenefitsID__0': 1, 'BCS_ID__0': '21989AK0030001-00-001', 'Exclusion__0': '', 'StateCode__0': 'AK', 'IssuerID__0': 21989, 'StandardComponentId__0': '21989AK0030001', 'PlanID__0': '21989AK0030001-00', 'BenefitsID__1': 2, 'BCS_ID__1': '21989AK0030001-00-002', 'Exclusion__1': '', 'StateCode__1': 'AK', 'IssuerID__1': 21989, 'StandardComponentId__1': '21989AK0030001', 'PlanID__1': '21989AK0030001-00', 'BenefitsID__2': 3, 'BCS_ID__2': '21989AK0030001-00-003', 'Exclusion__2': '', 'StateCode__2': 'AK', 'IssuerID__2': 21989, 'StandardComponentId__2': '21989AK0030001', 'PlanID__2': '21989AK0030001-00', 'BenefitsID__3': 4, 'BCS_ID__3': '21989AK0030001-00-004', 'Exclusion__3': '', 'StateCode__3': 'AK', 'IssuerID__3': 21989, 'StandardComponentId__3': '21989AK0030001', 'PlanID__3': '21989AK0030001-00', 'BenefitsID__4': 5, 'BCS_ID__4': '21989AK0030001-00-005', 'Exclusion__4': '', 'StateCode__4': 'AK', 'IssuerID__4': 21989, 'StandardComponentId__4': '21989AK0030001', 'PlanID__4': '21989AK0030001-00', 'BenefitsID__5': 6, 'BCS_ID__5': '21989AK0030001-00-006', 'Exclusion__5': '', 'StateCode__5': 'AK', 'IssuerID__5': 21989, 'StandardComponentId__5': '21989AK0030001', 'PlanID__5': '21989AK0030001-00', 'BenefitsID__6': 7, 'BCS_ID__6': '21989AK0030001-00-007', 'Exclusion__6': '', 'StateCode__6': 'AK', 'IssuerID__6': 21989, 'StandardComponentId__6': '21989AK0030001', 'PlanID__6': '21989AK0030001-00', 'BenefitsID__7': 8 ... 6900 parameters truncated ... 'PlanID__992': '38344AK1060004-02', 'BenefitsID__993': 2, 'BCS_ID__993': '38344AK1060004-02-002', 'Exclusion__993': '', 'StateCode__993': 'AK', 'IssuerID__993': 38344, 'StandardComponentId__993': '38344AK1060004', 'PlanID__993': '38344AK1060004-02', 'BenefitsID__994': 51, 'BCS_ID__994': '38344AK1060004-02-051', 'Exclusion__994': '', 'StateCode__994': 'AK', 'IssuerID__994': 38344, 'StandardComponentId__994': '38344AK1060004', 'PlanID__994': '38344AK1060004-02', 'BenefitsID__995': 52, 'BCS_ID__995': '38344AK1060004-02-052', 'Exclusion__995': '', 'StateCode__995': 'AK', 'IssuerID__995': 38344, 'StandardComponentId__995': '38344AK1060004', 'PlanID__995': '38344AK1060004-02', 'BenefitsID__996': 53, 'BCS_ID__996': '38344AK1060004-02-053', 'Exclusion__996': '', 'StateCode__996': 'AK', 'IssuerID__996': 38344, 'StandardComponentId__996': '38344AK1060004', 'PlanID__996': '38344AK1060004-02', 'BenefitsID__997': 54, 'BCS_ID__997': '38344AK1060004-02-054', 'Exclusion__997': '', 'StateCode__997': 'AK', 'IssuerID__997': 38344, 'StandardComponentId__997': '38344AK1060004', 'PlanID__997': '38344AK1060004-02', 'BenefitsID__998': 55, 'BCS_ID__998': '38344AK1060004-02-055', 'Exclusion__998': '', 'StateCode__998': 'AK', 'IssuerID__998': 38344, 'StandardComponentId__998': '38344AK1060004', 'PlanID__998': '38344AK1060004-02', 'BenefitsID__999': 3, 'BCS_ID__999': '38344AK1060004-02-003', 'Exclusion__999': '', 'StateCode__999': 'AK', 'IssuerID__999': 38344, 'StandardComponentId__999': '38344AK1060004', 'PlanID__999': '38344AK1060004-02'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)