In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Update the file path to point to where the csv data is stored
service_area_csv = r"\your-file-location\service-area-puf.csv"

In [3]:
# Read csv into panda dataframe
service_area_df = pd.read_csv(service_area_csv)
print(service_area_df.head())

   BusinessYear StateCode  IssuerId SourceName           ImportDate  \
0          2025        AK     21989       HIOS  2024-08-29 01:02:15
1          2025        AK     21989       HIOS  2024-08-29 01:02:15
2          2025        AK     21989       HIOS  2024-08-29 01:02:15
3          2025        AK     21989       HIOS  2024-08-29 01:02:15
4          2025        AK     21989       HIOS  2024-08-29 01:02:15

  ServiceAreaId              ServiceAreaName CoverEntireState  County  \
0        AKS001               Alaska Premier              Yes     NaN
1        AKS002                   Alaska PPO               No  2020.0
2        AKS002                   Alaska PPO               No  2090.0
3        AKS002                   Alaska PPO               No  2170.0
4        AKS003  Alaska Premier - Individual              Yes     NaN

  PartialCounty ZipCodes PartialCountyJustification      MarketCoverage  \
0           NaN      NaN                        NaN  SHOP (Small Group)
1            No      NaN                        NaN  SHOP (Small Group)
2            No      NaN                        NaN  SHOP (Small Group)
3            No      NaN                        NaN  SHOP (Small Group)
4           NaN      NaN                        NaN          Individual

  DentalOnlyPlan
0            Yes
1            Yes
2            Yes
3            Yes
4            Yes

In [4]:
# Create dataframe with the unique service area and assign an ID
clean_area_df = pd.DataFrame({
    "ServiceAreaID":service_area_df["ServiceAreaId"], 
    "ServiceArea": service_area_df["ServiceAreaName"],
    "StateCode": service_area_df["StateCode"],
    "IssuerId": service_area_df["IssuerId"],
    "CoverEntireState": service_area_df["CoverEntireState"],
    "County": service_area_df["County"], 
    "ZipCodes": service_area_df["ZipCodes"],
    "MarketCoverage": service_area_df["MarketCoverage"],
    "DentalOnly": service_area_df["DentalOnlyPlan"]
})

clean_area_df.head()

,ServiceAreaID,ServiceArea,StateCode,IssuerId,CoverEntireState,County,ZipCodes,MarketCoverage,DentalOnly
0,AKS001,Alaska Premier,AK,21989,Yes,NaN,NaN,SHOP (Small Group),Yes
1,AKS002,Alaska PPO,AK,21989,No,2020.0,NaN,SHOP (Small Group),Yes
2,AKS002,Alaska PPO,AK,21989,No,2090.0,NaN,SHOP (Small Group),Yes
3,AKS002,Alaska PPO,AK,21989,No,2170.0,NaN,SHOP (Small Group),Yes
4,AKS003,Alaska Premier - Individual,AK,21989,Yes,NaN,NaN,Individual,Yes

In [5]:
record_count = len(clean_area_df)
print(f"Record count: {record_count}")

Record count: 11761

In [6]:
# Drop duplicate IssuerId-IssuerMarketPlaceMarketingName pairs
clean_area_df = clean_area_df.drop_duplicates(subset='ServiceAreaID', keep='first')

clean_area_df.head()

,ServiceAreaID,ServiceArea,StateCode,IssuerId,CoverEntireState,County,ZipCodes,MarketCoverage,DentalOnly
0,AKS001,Alaska Premier,AK,21989,Yes,NaN,NaN,SHOP (Small Group),Yes
1,AKS002,Alaska PPO,AK,21989,No,2020.0,NaN,SHOP (Small Group),Yes
4,AKS003,Alaska Premier - Individual,AK,21989,Yes,NaN,NaN,Individual,Yes
5,AKS004,Alaska PPO - Individual,AK,21989,No,2020.0,NaN,Individual,Yes
23,ALS001,BEST Life Alabama,AL,12538,Yes,NaN,NaN,Individual,Yes

In [7]:
record_count = len(clean_area_df)
print(f"Record count: {record_count}")

Record count: 291

In [ ]:
# Conntect to PostgreSQL database, add your username and password to the connection (need psycopg2-binary - pip install psycopg2-binary)
engine = create_engine("postgresql://username:password@localhost:5432/HealthCareValue_DB")

In [9]:
# Append dataframe to Rates table in HealthCareValues_DB
clean_area_df.to_sql("ServiceArea", engine, if_exists="append", index=False)

291